{
    "source":{
        "host":"localhost",
        "port": 5434,
        "username":"postgres",
        "password":"postgres",
        "database":"test1",
        "maxOpenConn":5,
        "maxIdleConn":5
    },
    "dest":{
        "host":"localhost",
        "port": 5432,
        "username":"postgres",
        "password":"",
        "database":"postgres"
    },
    "redis":{
        "host":"localhost",
        "port": 6379,
        "password":"",
        "database":0
    },
    "sqlScript":"`ALTER TABLE public.t ADD COLUMN c integer;`",
    "ddlTransform":{
        "dropTable":[
            {
            "schema":"public",
            "table":"t"
            }
        ],
        "addColumn":[
            {
                "schema":"public",
                "table":"t",
                "column":"c"
            }
        ],
        "dropColumn":[
            {
                "schema":"public",
                "table":"t",
                "column":"c",
                "isNullable":true,
                "default":0
            }
        ],
        "renameColumn":[
            {
                "schema":"public",
                "table":"t",
                "oldName":"c",
                "newName":"c2"
            }
        ],
        "renameTable":[
            {
                "schema":"public",
                "oldName":"distributors",
                "newName":"dist"
            }
        ],
        "dropNotNullConstraint":[
            {
                "schema":"public",
                "table":"t",
                "column":"c",
                "default":0
            }
        ],
        "modifyDataType":[
            {
                "schema":"public",
                "table":"distributors",
                "column":"c",
                "oldType":"integer",
                "newType":"integer"
            }
        ]

        }
    }

