apiVersion: v1
kind: Pod
metadata:
  name: debezium
spec:
  containers:
  - name: debezium
    image: debezium/server
    volumeMounts:
    - name: app-config
      mountPath: /debezium/conf
  volumes:
  - name: app-config
    configMap:
      name: ${app_config}