# Kubernetes API version
apiVersion: batch/v1
kind: Job
metadata:
  # The name of the Deployment
  name: postgresdb
  namespace: performance-native
spec:
  # Replicas for this Deployment
  parallelism: 1    
  completions: 1 
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
      labels:
        # The label the pods created from the pod template should have
        app: postgresdb
    spec:
      containers:
        # The container name to execute pods
        - name: postgresdb
          # pull postgresimage from docker hub
          image: postgres:14.7
          volumeMounts:
            - name: insert
              mountPath: /scripts/insert
            - name: delete
              mountPath: /scripts/delete
          ports:
            # Assign ports to expose container
            - containerPort: 5432
          env:
            - name: PGHOST
              value: ${source_host}
            - name: PGUSER
              value: postgres
            - name: PGDATABASE
              value: postgres
            - name: PGPASSWORD
              value: ${source_password}
            - name: POSTGRES_PASSWORD
              value: password 
          command:
          - /bin/sh
          - -c
          - |
            pgbench -c 1 -R 10 -T 60 -f /scripts/insert/10.sql
            sleep 20
            pgbench -c 1 -R 20 -T 60 -f /scripts/insert/20.sql
            sleep 20
            pgbench -c 1 -R 30 -T 60 -f /scripts/insert/30.sql
            sleep 20
            pgbench -c 1 -R 40 -T 60 -f /scripts/insert/40.sql
            sleep 20
            pgbench -c 1 -R 50 -T 60 -f /scripts/insert/50.sql
            sleep 20
            pgbench -c 1 -R 100 -T 60 -f /scripts/insert/100.sql
            sleep 20
      restartPolicy: Never
      volumes:
        - name: insert
          configMap:
            name: insert
        - name: delete
          configMap:
            name: delete