apiVersion: batch/v1
kind: Job
metadata:
  name: ${job}
spec:
  template:
    spec:
      containers:
      - name: app
        image: ${image}
        command: ["./app",  "start", "blue-green", "--config=/config/config.json"]
        volumeMounts:
            - name: ${app_config}
              mountPath: /config
      volumes:
        - name: ${app_config}
          configMap:
            name: ${app_config}
      restartPolicy: Never
  backoffLimit: 4